

#myimg {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    
}

.fa{
    height:50px;
    width:50px;
    border-radius:50px;
    padding: 17.5px;
    text-align: center;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }