

#myimg {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    
}

.fa{
    height:75px;
    width:75px;
    border-radius:75px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }